.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-width: 50%;
    max-width: 60%; */
  width: 55%;
  min-height: 250px;
  background-color: white;
  color: rgb(20, 18, 18);
  border: 1px solid gold;
  /* border-radius: 3px; */
  box-shadow: 0 4px 8px silver;
  font-size: 22px;
  padding-bottom: 3%;
  gap: 10px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  /* padding: 0 20px; */
}
.question-container {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  /* height: 100%; */
  padding: 10px;
}
.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: justify;
  /* background-color: yellow; */
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  /* padding-left: 25%; */
}
.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: 1px solid black;
  text-align: left;
}
button {
  background-color: gold;
  color: black;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.7em;
  transition: background-color 0.3s ease, transform 0.2s ease;
  gap: 10px;
}
