.scorecard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-width: 50%;
    max-width: 60%; */
  width: 55%;
  min-height: 250px;
  background-color: white;
  color: rgb(20, 18, 18);
  border: 1px solid gold;
  /* border-radius: 3px; */
  box-shadow: 0 4px 8px silver;
  font-size: 22px;
  padding-bottom: 3%;
  gap: 10px;
}
